:root{
    --pink: lightpink;
    --blue: lightblue;
    --purple: rgb(199, 131, 231);
    --green: lightgreen;
    --light: white;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.pink{
    background-color: var(--pink);
}

.blue{
    background-color: var(--blue);
}

.purple{
    background-color: var(--purple);
}

.green{
    background-color: var(--green);
}

.toolbox_cont{
    height: 5rem;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.toolbox_priority_cont{
    height: 60%;
    background-color: #ecf0f1;
    width:18rem;
    margin-left: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.action_btn_cont{
    height: 60%;
    background-color: var(--light);
    width:10rem;
    margin-right: 12rem ;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.add_btn,
.delete_btn{
    font-size: 1.75rem;
}

.main_cont{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.ticket_cont{
    height:10rem;
    width:15rem;
    background-color:#ecf0f1;
    position: relative;
}

.ticket_color{
    height: 10%;
}

.ticket_id{
    height: 7.5%;
    font-weight: 600;
    font-size: 0.75rem;
    padding-left: 10px;
}

.ticket_area{
    height: 75%;
    font-size: 1.5rem;
    padding-left: 5px;
}

.lock_unlock{
    height: 7.5%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.modal_cont{
    position: fixed;
    height: 50vh;
    width: 50vw;
    left: 25vw;
    top:25vh;
    display:none;
    /* display:flex; */
    border: 2px solid grey;
    -webkit-box-shadow: 10px 10px 40px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 40px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 40px -4px rgba(0, 0, 0, 0.75);
}

.teaxtarea_cont{
    height: 100%;
    width:75%;
    font-size:2rem;
    padding:2rem;
    outline:none;
    border:none;
    resize: none;
}

.priority_color_cont{
    height: 100%;
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.priority_color{
    height: 3rem;
    width: 5rem;
}

.active{
    border: 5px solid white;
}

